<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loveraising.dao.ActivitiesInfoMapper">
  <resultMap id="BaseResultMap" type="com.loveraising.pojo.ActivitiesInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="activity_title" jdbcType="VARCHAR" property="activityTitle" />
    <result column="activity_location" jdbcType="VARCHAR" property="activityLocation" />
    <result column="activity_description" jdbcType="VARCHAR" property="activityDescription" />
    <result column="activity_num" jdbcType="INTEGER" property="activityNum" />
    <result column="current_num" jdbcType="INTEGER" property="currentNum" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    id, status, activity_title, activity_location, activity_description, activity_num, 
    current_num, image_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from activitiesinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from activitiesinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.loveraising.pojo.ActivitiesInfo">
    insert into activitiesinfo (id, status, activity_title, 
      activity_location, activity_description, 
      activity_num, current_num, image_url
      )
    values (#{id,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{activityTitle,jdbcType=VARCHAR}, 
      #{activityLocation,jdbcType=VARCHAR}, #{activityDescription,jdbcType=VARCHAR}, 
      #{activityNum,jdbcType=INTEGER}, #{currentNum,jdbcType=INTEGER}, #{imageUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.loveraising.pojo.ActivitiesInfo">
    insert into activitiesinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="activityTitle != null">
        activity_title,
      </if>
      <if test="activityLocation != null">
        activity_location,
      </if>
      <if test="activityDescription != null">
        activity_description,
      </if>
      <if test="activityNum != null">
        activity_num,
      </if>
      <if test="currentNum != null">
        current_num,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="activityTitle != null">
        #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityLocation != null">
        #{activityLocation,jdbcType=VARCHAR},
      </if>
      <if test="activityDescription != null">
        #{activityDescription,jdbcType=VARCHAR},
      </if>
      <if test="activityNum != null">
        #{activityNum,jdbcType=INTEGER},
      </if>
      <if test="currentNum != null">
        #{currentNum,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.loveraising.pojo.ActivitiesInfo">
    update activitiesinfo
    <set>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="activityTitle != null">
        activity_title = #{activityTitle,jdbcType=VARCHAR},
      </if>
      <if test="activityLocation != null">
        activity_location = #{activityLocation,jdbcType=VARCHAR},
      </if>
      <if test="activityDescription != null">
        activity_description = #{activityDescription,jdbcType=VARCHAR},
      </if>
      <if test="activityNum != null">
        activity_num = #{activityNum,jdbcType=INTEGER},
      </if>
      <if test="currentNum != null">
        current_num = #{currentNum,jdbcType=INTEGER},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.loveraising.pojo.ActivitiesInfo">
    update activitiesinfo
    set status = #{status,jdbcType=INTEGER},
      activity_title = #{activityTitle,jdbcType=VARCHAR},
      activity_location = #{activityLocation,jdbcType=VARCHAR},
      activity_description = #{activityDescription,jdbcType=VARCHAR},
      activity_num = #{activityNum,jdbcType=INTEGER},
      current_num = #{currentNum,jdbcType=INTEGER},
      image_url = #{imageUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>