<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../component/pear/css/pear.css" />
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">

    <div class="layui-form-item">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <img class="pic_url" src="../../readme/pic.png" height="200px" />
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">主图</label>
        <div class="layui-input-inline">
            <input type="text" name="firstUrl" id="pic_url" placeholder="不上传就留空" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-word-aux">
            <button type="button" class="layui-btn layui-btn-normal" id="pic">
                <i class="layui-icon ">&#xe67c;</i>上传主图
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">筹款标题</label>
        <div class="layui-input-inline">
            <input type="text" name="raisingTitle" lay-verify="clength|required" lay-reqtext="输入筹款标题" placeholder="输入筹款标题" value="" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">筹款描述</label>
        <div class="layui-input-inline">
            <textarea type="text" name="raisingDescription"  lay-verify="required"  placeholder="请输入描述信息" value="" class="layui-textarea"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label required">筹款金额</label>
        <div class="layui-input-inline">
            <input type="number" name="targetAmount" lay-verify="required" lay-reqtext="输入筹款金额" placeholder="请输入金额" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">银行卡号</label>
        <div class="layui-input-inline">
            <input type="number" name="bankNum"  placeholder="请输入银行卡号" value="" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">筹款人姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="raisingName"  placeholder="输入筹款人姓名" value="" class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>上传副图</legend>
    </fieldset>

    <div class="layui-form-item">
        <div class="layui-input-inline">
            <input class="layui-hide" name="imageUrls" type="text" id="imagurls">
        </div>
        <blockquote class="layui-input-block layui-elem-quote layui-quote-nm" style="margin-top: 10px;">

<!--            <label class="layui-form-label required">预览图：</label>-->
            <div class="layui-upload-list" id="demo2"> <button type="button" class="layui-btn" id="test2">+</button></div>
        </blockquote>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script src="../../config/api.config.js"></script>
<script>
    const token = sessionStorage.token
    // console.log(token)
    layui.use(['form','upload','context'], function () {
        var form = layui.form,
            layer = layui.layer,
            upload = layui.upload,
            $ = layui.$;
        const context = layui.context;
        const token = sessionStorage.getItem('token');
        var hostUrl = context.get("hostUrl")

        form.verify({
            clength: function (value) {
                var i,sum;
                sum=0;
                for(i=0;i<value.length;i++){
                    if ((value.charCodeAt(i)>=0) && (value.charCodeAt(i)<=255))
                        sum=sum+1;
                    else
                        sum=sum+2;
                }
                if (sum > 50) {
                    return '筹款标题最多只能50个字符或者25个中文字';
                }
            }
        });

        upload.render({
            elem: '#pic' //绑定元素
            , url: hostUrl+"/file/upload.do" //上传接口
            ,headers:{'token':token}
            ,acceptMime: 'image/*'
            ,exts: 'jpg|png|jpeg|gif'
            , done: function (res) {
                //上传完毕回调
                if (res.code == 0) {
                    $("#pic_url").val(res.data);
                    $(".pic_url").attr("src", hostUrl+res.data);
                } else {
                    layer.msg(res.info, function () { })
                }
            }, error: function () {
                layer.msg("上传异常");
            }
        });
        //json的length
        function getJsonLength(jsonData){
            var jsonLength = 0;
            for(var item in jsonData){
                jsonLength++;
            }
            return jsonLength;
        }
        var imagesUrls = ""
        upload.render({
            elem: '#test2'
            ,url: hostUrl+'/file/upload.do' //改成您自己的上传接口
            ,acceptMime: 'image/*'
            ,exts: 'jpg|png|jpeg|gif'
            ,headers:{'token':token}
            ,multiple: true
            ,number: 3
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo2').prepend('<img style="width: 200px;height: 200px" src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img">')
                    if ($('#demo2').children('img').length>=3){
                        $("#test2").hide();
                    }
                });

            }
            ,done: function(res){

                imagesUrls = imagesUrls+res.data+","
                console.log(imagesUrls)
                $("#imagurls").val(imagesUrls.substring(0,imagesUrls.length-1));
                console.log($("#imagurls").val())
                //上传完毕
            }
        });
        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log(data.field)
            var index = layer.alert("确认添加吗？", {
                title: '最终的提交信息'
            }, function () {
                $.ajax({
                    url:hostUrl+'/raisinginfo/insertRaising.do',
                    //contentType: "application/json;charset=UTF-8",
                    method:'post',
                    crossDomain: true,
                    async:false,
                    headers:{'token':token},
                    data:data.field,
                    dataType:'JSON',
                    success:function(res){
                        console.log(res)
                        layer.msg(res.message,{
                            time: 1000, //0.8s后自动关闭
                            icon:1,
                            end:function () {
                                var iframeIndex = parent.layer.getFrameIndex(window.name);
                            }
                        });
                    },error:function (res) {
                    }
                }) ;
                // 关闭弹出层
                layer.close(index);



            });

            return false;
        });

    });
</script>
</body>
</html>